#header {
  background: url(/img/pattern.png);
  background-color: #4EA0FF;
}

#header img {
  width: 250px;
  padding: 20px 60px;
}

.blue-span {
  color: #32B0E7;
}

.yellow-span {
  background-color: #FFFF00;
}

#interests > h2 {
  color: #888888;
}

#monitor {
  background-image: url("img/monitor.jpg");
}