/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin: 0 14%;
}

ul {
  margin-left: 15px;
}

header {
  background-image: url("../img/pattern.png");
  background-color: #4EA0FF;
}

header > div > img {
  width: 378px;
  padding-left: -6px;
  padding: 13px;
  margin-left: 212px;
  margin-top: 59px;
}

h1 {
  margin-top: 20px;
  font-size: 38px;
}

.grey-span {
  color: #C4DFE9;
}

.blue-span {
  color: #32B0E7;
}

figure {
  margin-top: 15px;
}

.yellow-span {
  background-color: #FFFF00;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

table, 
th,
td {
  border-spacing: 0;
  margin-top: 30px;
  text-align: start;
  font-weight: bold;
}

thead {
  background-color: #20A9E5;
  color: #FFFFFF;
}

tbody tr:nth-child(odd) {
  background-color: #B1E5F2;
}

tbody tr:nth-child(even) {
  background-color: #fff;
}

#interests > h2 {
  color: #828282;
  margin-top: 20px;
}

#monitor {
  background-image: url("../img/monitor.jpg");
  
}

#graph {
  background-image: url("../img/graph.jpg");
}

#monitor,
#graph {
  color: #FFFFFF;
  height: 200px;
  background-repeat: no-repeat;
  margin-top: 10px;
  padding: 15px;
}

footer {
  background-color: #20A9E5;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}
